node_modules/
dist/
build/
build-v2/
build-output/
temp-build/
.gradle/
app/build/
local.properties
.idea/
.bevel/
*.exe
*.apk
*.deb
*.asar
*.blockmap
*.bin
*.dll
*.pak
*.dat
*.so
*.so.1
*.so.2
*.so.3
*.so.4
*.so.5
*.so.6
*.so.7
*.so.8
*.so.9
*.so.10
*.so.11
*.so.12
*.so.13
*.so.14
*.so.15
*.so.16
*.so.17
*.so.18
*.so.19
*.so.20
.DS_Store
*.log
